body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0;
    background-color: #fff;
    min-height:100vh !important;
    overflow-y:scroll;
    background-color: #E1E0E1;
    max-height:100vh !important;
}


#page-wrapper{
    -webkit-transition: margin .3s;
    -moz-transition: margin .3s;
    -o-transition: margin .3s;
    transition: margin .3s;
}

@media(min-width:768px) {

    .navbar li{
    max-width:80px;
    min-width:80px;
    border-left:1px solid #E1E0E1;
    min-height:60px;
    max-height:50px;
    padding:0px;
    text-align:center;
    }
    .navbar li a{
        min-height:60px;
        max-height:50px;
        color: #676767;
        font-size: 12px;
        padding:0px;
        vertical-align:text-bottom;
    }

    #page-wrapper {
        position: inherit;
        margin: 0 0 0 50px;
        padding: 0;
        border-left: 1px solid #e7e7e7;
        min-height:100vh !important;
    }
    .page-wrapper-open{
        position: inherit;
        margin: 0 0 0 300px !important;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
    .page-wrapper-close{
        position: inherit;
        margin: 0 0 0 50px !important;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
    
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}
.sidebar-open{
    z-index: 1;
    position: absolute;
    width: 300px !important;
    overflow-y:scroll;
}
.sidebar-close{
    z-index: 1;
    position: absolute;
    width: 50px !important;
}

#sidebar{
    overflow-x:hidden;
    white-space: nowrap;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
    z-index:3333;
}

#side-menu li {
    border-bottom:none;
    color: white;
    font-size:15px;
    cursor:pointer;
    padding:5px 0;
}
#side-menu li img {
    width:25px;
    margin-left:10px;
    margin-right:20px;
}
#side-menu li i {
    font-size:25px;
    margin-left:10px;
    margin-right:20px;
}

#side-menu li:hover{
    background-color: #9AFE66;
}
#side-menu li{
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    transition: background-color .5s;
}



@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 300px;
        min-height:100vh;
        background-color:#3276B1;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }

}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
.top-links a{
    min-width: 70px;
    height:100%;
    display:inline;
    float: left;
    cursor: pointer;
    margin-left:10px;
    border-left: 1px solid gray;
}

.navbar-right li img{
    width:25px;
    margin-top:10px;
}

.navbar-right li i{
    font-size:25px;
    margin-top:10px;
}
.name-section{
    height:210px;
    color:white;
    padding-top:10px;
}

.name-section .name-section-button{
    background-color: #3C3C3B;
    border-radius:10px;
    max-width: 150px;
    padding: 3px 5px;
    margin: 0 auto;
}

#transparent-cover{
    /*Do some transition animation here*/
}

.transparent-cover-open{
    background-color: rgba(62,62,66,.5);
    min-height:100vh;
    min-width:100%;
    z-index:2222;
    position:absolute;
    top:0px;
    left:0px;
}

.transparent-cover-close{
    background-color: rgba(62,62,66,.5);
    min-height:100vh;
    min-width:100%;
    z-index:2222;
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}

    #sidebar-child{
        width:300px;
        min-height:100vh;
        position:absolute;
        background-color: rgba(56,83,111,.8);
        top:0px;
        z-index:3322;
        overflow-y:scroll;
        -webkit-transition: left .5s;
        -moz-transition: left .5s;
        -o-transition: left .5s;
        transition: left .3s;
    }

    .sidebar-child-open{
        left: 284px;
    }

    .sidebar-child-close{
        left:-300px;
    }


/*Style for the telemed section*/
#bottom-dock{
    position:fixed;
    bottom:0px;
    width:95%;
    z-index:1112;
}

#bottom-dock > .bottom-link{
    width:20%;
    float:left;
    cursor:pointer;
    text-align:center;
    color:white;
    background-color: #3276B1;
    padding:2px;
    border-radius: 100px 100px 0px 0px;
}

#bottom-dock > .bottom-link-active{
    width:20%;
    float:left;
    cursor:pointer;
    text-align:center;
    color:white;
    background-color: green;
    padding:2px;
    border-radius: 100px 100px 0px 0px;
}

#telemedCover{
}

#main-frame{
    width: 98%;
    margin:0 auto;
    height:auto;
    background-color: #272822;
    position:relative;
}
#controls{
    height:70px;
    width: 100%;
    border-top: 3px solid #E1E0E1;
    bottom:0px;
    left:0px;
}
#video{
    min-height:73vh;
    width:100%;
    background-color: rgba(225,224,225,.5);
    position:relative;
    background-image: url(../Content/Images/Website/hero-img.jpg)
}

#info{
    min-height:100%;
    max-height:100%;
    overflow-y:hidden;
    background-color: rgba(225,224,225,.7);
    position: absolute;
    top:0px;
    left:0px;
}
#chat{
    min-height:100%;
    background-color: rgba(225,224,225,.7);
    position: absolute;
    top:0px;
    right:0px;
}
#info,#chat{
    -webkit-transition: width .2s;
    -moz-transition: width .2s;
    -o-transition: width .2s;
    transition: width .2s;
}
.chat-open,.info-open{
    width:300px;
}

.chat-close,.info-close{
    width:30px;
    overflow-y:hidden;
    overflow-x:hidden;
    padding-left:0px;
}


#chat .header, #info .header{
    width:100%;
    padding:3px;
    background-color: rgba(50,118,177,.7);
    overflow-x:hidden;
    white-space:nowrap;
    text-wrap:none;
}
#chat .header i, #info .header i{
    font-size: 30px;
    cursor:pointer;
}

#info .list-group,#chat .list-group{
    background-color: rgba(255,255,255,.1) !important;
    color: #5A5A5A;
}
#info .list-group-item,#chat .list-group-item{
    background-color: rgba(255,255,255,.1) !important;
    height:auto;
}

#message-box{
    position:absolute;
    bottom:0px;
    height:auto;
    width:100%;
    padding:0px;
}
#chatbox{
    max-height:60vh;
    overflow-y:scroll;
}
#controls{
    text-align:center;
}
#controls img{
    width:55px;
    margin: 5px 10px 0px 10px;
}
#controls #controls-frame i{
    margin-right: 10px;
    font-size: 30px;
    margin-top:15px;
    color: #CAC9CB;
    cursor:pointer;
}
#controls #controls-frame i:hover{
    color: #6089B3;
}
#telemedCover{
    position:fixed;
    min-width:100%;
    max-width:100%;
    min-height:100vh;
    max-height:100vh;
    background-color: rgba(225,224,225,1);
    z-index:1111;
}

/*Style for the telemed section*/

.login{
    max-width:400px;
    margin:0 auto;
}

.login  h1,
.login  h2,
.login  h3,
.login h4,
.login  h5,
.login h6
{
    color: #326799;
}

